@import url(https://fonts.googleapis.com/css?family=Ubuntu);

body{
  text-align:center;
  vertical-align:center;
  /* background: linear-gradient(to right, #c6ffdd, #fbd786, #f7797d); */
  color: white;
  font-family:'Ubuntu';
  background-color: black;
}

.container-image {
	display: flex;
	flex-direction: row;
	justify-content: center;
	flex-wrap: wrap;
	gap: 10px;
	margin-top: 50px;
}
h1{
  color: white;
}
hr{
  width: 50%;
  color: rgb(255, 255, 255);
}
#img-1{
  width: 700px;
}
#img-6{
  width: 700px;
}
#fig-1{
  width: 700px;
}
#fig-6{
  width: 700px;
}

.image{
  position: relative;
  display:flex;
  transition: all 0.8s;
}
.date{
	position: absolute;
  font-size: 14px;
	top: 0px;
	right: 0px;
	padding-top: 5px;
	padding-right: 9px;
  color: black;
}

.image:hover{
transform:scale(1.1);
z-index: 99;
}

figure{
  font-family:'Ubuntu';
  font-size:20px;
  color:#282828;
  margin:0;
  margin-bottom:30px;
}

img{
  border: 1px solid white;
  width: 400px;
  height:400px;
  box-shadow: 0px 0px 5px 0px black;
}
.text-img{
  font-size: 15px;
  color: #52618d;
  padding: 10px;
  margin:auto
}

figcaption{
  z-index:100;
  position: relative;
  opacity: 0;
  height: 10px;
  background-color: #f5f0f0c0;
  transition: 0.8s;
}

figcaption p{
	max-width: 300px;
}

.image:hover figcaption{
	opacity : 1;
	height: 100px;
  border-radius: 2px;
	transition: opacity 0.8s, height 0.8s;
	}

span{
  font-style:italic;
  font-size:15px;
}
span:before{
content:' - ';
}

a{
  text-decoration:none;
  color:#52618d;
}

@media  screen and (max-width: 550px){
  #img-1{
    width: 300px;
  }
  #img-6{
    width: 300px;
  }
  #fig-1{
    width: 300px;
  }
  #fig-6{
    width: 300px;
  }
  figcaption p{
    max-width: 300px;
  }
  img{
    width: 300px;
    height: 200px;
  }
}
