@import url(https://fonts.googleapis.com/css?family=Ubuntu);

h1{
    text-align: center;
    font-family:'Ubuntu';
    
}
hr{
    width: 50%;
}
.main{
    font-family:'Ubuntu';
   display: flex;
   justify-content: center;
   flex-direction: column;
}
.img-container{
    display: flex;
    flex-direction: row;
    justify-content: center;
    gap: 40px;
    padding: 50px;
}
img{
    position: relative;
   border: 1px solid grey;
   min-width: 400px;
   border-radius: 2px;
   box-shadow: 0px 0px 20px 0px black;
}
.description{
    font-size: 25px;
    background-color: rgb(243, 247, 250);
    max-width: 400px;
}

@media  screen and (max-width: 550px){

    .img-container{
        flex-direction: column;
        justify-content: center;
        gap: 5px;
        padding: 0;
    }
    img{
        min-width: 300px;
    }



}