@import url(https://fonts.googleapis.com/css?family=Ubuntu);

h1{
    font-family:'Ubuntu';
}
hr{
    width: 50%;
}
.top-head{
    display: flex;
    flex-direction: row;
    justify-content: space-evenly;
    align-items: center;
    width: 70%;
}
.retour{
    display: flex;
    align-items: center;
    text-decoration: none;
    color: black;
    gap: 4px;
    font-size: 20px;
}
.main{
    font-family:'Ubuntu';
   display: flex;
   justify-content: center;
   flex-direction: column;
}
.img-container{
    display: flex;
    flex-direction: row;
    justify-content: center;
    gap: 40px;
    padding: 50px;
    padding-left: 30px;
    padding-right: 30px;
}
img{
    position: relative;
   border: 1px solid grey;
   width: 27%;
   border-radius: 2px;
   box-shadow: 0px 0px 5px 0px black;
}
.description{
    font-size: 25px;
    background-color: rgb(243, 247, 250);
    width: 400px;
}
p > span {
    font-weight: bold;
}

@media  screen and (max-width: 700px){

    .img-container{
        flex-direction: column;
        justify-content: center;
        gap: 5px;
        align-items: center;
    }
    img{
      width: 300px;
    }
    .description{
       width: 300px;
       font-size: 18px
    }
    .top-hr{
        margin-bottom: 30px;
    }

}